.video-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    margin: auto;
    background-color: black;
}

#video {
    width: 100%;
    height: auto;
    display: block;
}

#seekbar-container {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 20px;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s, width 0.3s;
    z-index: 2147483648;
}

.video-container.fullscreen #seekbar-container {
    width: calc(100% - 0px);
    left: 0;
    bottom:20px;
}

#seek-bar {
    height: 5px;
    cursor: pointer;
    width: 99%;
    border-radius: 2px;
    position: relative;
    z-index: 1000;
}

.thumbnail {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 800px 450px; /* Adjust based on your thumbnail size */
    width: 160px;
    height: 90px;
    pointer-events: none;
    z-index: 1000;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(-50%);
}

.video-container.fullscreen .thumbnail {
    width: 200px;
    height: 112px;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    #seekbar-container {
        width: calc(100% - 30px);
        left: 15px;
        bottom: 20px;
    }

    .thumbnail {
        width: 100px;
        height: 56px;
    }
}

/* Error message styling */
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* Fullscreen transitions */
.video-container.fullscreen #seekbar-container {
    bottom: 10px;
    width: calc(100% - 0px);
    left: 0;
}

.video-container.fullscreen #video {
    height: 100vh;
    width: 100vw;
}

.video-container.fullscreen #top-overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

.video-container.fullscreen #thumb {
    position: absolute;
    bottom: 60px; /* Adjust as needed */
}

/* Fullscreen Toggle Button */
#fullscreen-toggle-btn {
    width: 40px;
    height: 40px;
    bottom: 28px;
    left: calc(100% - 92px); 
    background-color: red;
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: absolute;
    z-index: 10000;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    #fullscreen-toggle-btn {
        width: 30px;
        height: 30px;
        bottom: 20px;
        left: calc(100% - 92px); 
        font-size: 14px;
    }

    .video-container.fullscreen .thumbnail {
        width: 100px;
        height: 56px;
    }
}

@media (max-width: 853px) {
    #fullscreen-toggle-btn {
        left: calc(100% - 88px);
        bottom: 33px;
    }

}
.video-container.fullscreen #fullscreen-toggle-btn {
    bottom: 36px;
    left: calc(100% - 131px);
}